.navbar-dark .navbar-text {
    color: red;
    font-size: 25pt;
    font-weight: bolder;
    
}
.col2 {
    word-wrap: break-word
    
}

img {
    float: left;
    padding-right: 10px;
}

body {
    color: darkblue;
    font-size: 16pt;
    
}
container {
    margin-top: 20px;
}
body {
    background: url(./assets/images/furley_bg.png);
}

.row {
    margin-left: 15px;
   
}

.containerPort{
    text-align: center;
}