.navbar-dark .navbar-text {
    color: red;
    font-size: 25pt;
    font-weight: bolder;
    
}
.col2 {
    word-wrap: break-word
    
}

img {
    float: left;
    padding-right: 10px;
}

body {
    color: darkblue;
    font-size: 16pt;
}