.navbar-dark .navbar-text {
    color: red;
    font-size: 25pt;
    font-weight: bolder;
    
}
.col2 {
    word-wrap: break-word
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

body {
    color: darkblue;
    font-size: 16pt;
    
}
container {
    margin-top: 20px;
}
body {
    background: url(./assets/images/furley_bg.png);
}

.row {
    margin-left: 15px;
   
}

.containerPort{
    text-align: center;
}

form {
    width: 95%;
    margin-left: 30px;
    margin-top: 30px;
    
}

h1 {
    text-align: center;
    color:red;
}

p {
    text-align: center;
    color: darkblue;
    font-weight: 400;
    font-size: 16pt;
    padding-right: inherit;
}

h2 {
    text-align: center;
    color: red;
}

#links {
    text-align: center;
    color: red;
    font-size: 16pt;
}

a {
    color: darkblue;

}
@media only screen and (max-width: 1200px) {
    .mx-auto {
        column-width: 100%;
        height: auto;
        margin-bottom: 50px;
    
    }
}

#pic {
    border-radius: 50%;
}

